vers.dtd

<!ELEMENT collection (fiche+)>
<!ELEMENT fiche (titre, image, resume?, contenu)>
<!ATTLIST fiche
  id ID #REQUIRED
  categorie (Politique|Diplomatie|Tourisme) #REQUIRED>

<!ELEMENT titre (#PCDATA)>
<!ELEMENT image EMPTY>
<!ATTLIST image
  src CDATA #REQUIRED
  title CDATA #REQUIRED>

<!ELEMENT resume (#PCDATA)>
<!ELEMENT contenu (paragraphe+)>
<!ELEMENT paragraphe (#PCDATA)>
